:export {
  inverseColor: $uni-text-color-inverse;
  textSize: $uni-font-size-sm;
  primaryColor: $uni-color-primary;
  successColor: $uni-color-success;
  warningColor: $uni-color-warning;
  errorColor: $uni-color-error;
}