:export {
  smallFontSize: $uni-font-size-sm;
  baseFontSize: $uni-font-size-base;
  largeFontSize: $uni-font-size-lg;
  primaryColor: $uni-color-primary;
  successColor: $uni-color-success;
  warningColor: $uni-color-warning;
  errorColor: $uni-color-error;
}